body, header, main, footer, aside, div, img,
ul, li, a, section, article, p, h1, h2, h3, h4{
    padding: 0;
    margin: 0;
}
body{
    height: 1200px;
    width: 1280px;
    background-image: url('../pictures/greenWall2.jpg');
    font-family: "Comic Sans MS", sans-serif;
    list-style-type: none;
    text-decoration: none
}
header{
    height: 200px;
    width: 1280px;
    font-size: 1.2rem;
}
.header-content{
    height: 200px;
    width: 1280px;
    position: relative;
    background-image:
    url("../pictures/header/socks.png"),
    url("../pictures/header/pear.png"),
    url("../pictures/header/name.png"),
    url("../pictures/header/grass.png");
    background-repeat: no-repeat, no-repeat, no-repeat, no-repeat;
    background-position: 30px -150px, 941px 1px,175px 18px, left top;
}
main {
    margin-top: -10px;
    height: 750px;
    font-size: 1.6rem;
}

article a{
    display: block;
    color: #DBD4BA;
    font-size: 1.6rem;
}
article a:hover{
    display:  block;
    color: #AA9F05;
    font-size: 1.6rem;
    background-color: #27848c;
}

.main-news {
    width: 1200px;
    height: 350px;
    /* margin-top: 4%; */
    text-align: center;
    margin: 0 auto; /* tova e samo za da se vidi kyde sedqt sekciite*/
}
.main-news header {
    width: 1200px;
    height: 100px;
    font-size: 1.6rem;
    background-color: #568c27;
}
.main-news header h1 span  {
    color: #DBC77F;
}
.main-news article h2{
    color: #F4E407;
    font-size: 2.5rem;
}
.main-article{
    width: 1200px;
    height: 250px;
    position: relative;
    background-image:
    url("../pictures/main/main_article/nakov-mainpage.jpg"),
    url("../pictures/main/main_article/right_arrow.png"),
    url("../pictures/main/main_article/monstersuniversity.jpg");
    background-repeat: no-repeat, no-repeat, no-repeat;
    background-position: 775px 37px, 500px 37px, 100px 37px;
    background-color:#278c2f;
}
.useful-habits {
    width: 485px;
    height: 260px;
    margin-left: 40px;
    margin-top: 40px;
    text-align: center;
    border: 2px solid black; /* tova e samo za da se vidi kyde sedqt sekciite*/
}
.useful-habits header{
    display: inline-block;
    width: 485px;
    height: 40px;
    font-size: 1.1rem;
    background-color: #568c27;
}
.useful-habits header h1 span  {
    color: #DBC77F;
}
.useful-habits-content{
    width: 485px;
    height: 220px;
    position: relative;
    background-image:
    url("../pictures/main/articles/teamwork.jpg"),
    url("../pictures/main/articles/useful-habbts.jpg");
    background-repeat: no-repeat, no-repeat;
    background-position: 28px 50px, 207px 50px;
    background-color:#278c2f;
}

.social-skills {
    width: 485px;
    height: 260px;
    margin-left: 567px;
    margin-top: -264px;
    text-align: center;
    box-shadow: 1px 1px 4px #568c27;
    border: 2px solid black; /* tova e samo za da se vidi kyde sedqt sekciite*/
}
.social-skills header{
    display: inline-block;
    width: 485px;
    height: 40px;
    font-size: 1.1rem;
    background-color: #568c27;
}
.social-skills header h1 span  {
    color: #DBC77F;
}
.social-skills-content{
    width: 485px;
    height: 220px;
    position: relative;
    background-image:
    url("../pictures/main/articles/usefulhabbts1.jpg");
    background-repeat: no-repeat, no-repeat;
    background-position: 130px 50px;
    background-color:#278c2f;
}
.accommodation {
    width: 485px;
    height: 260px;
    margin-left: 40px;
    margin-top: 40px;
    text-align: center;
    box-shadow: 1px 1px 4px #568c27;
    border: 2px solid black; /* tova e samo za da se vidi kyde sedqt sekciite*/
}
.accommodation header{
    display: inline-block;
    width: 485px;
    height: 40px;
    font-size: 1.1rem;
    background-color: #568c27;
}
.accommodation header h1 span  {
    color: #DBC77F;
}
.accommodation-content{
    width: 485px;
    height: 220px;
    position: relative;
    background-image:
    url("../pictures/main/articles/accommodaton.jpg"),
    url("../pictures/main/articles/accommodaton1.jpg");
    background-position: 22px 50px,221px 50px;
    background-repeat: no-repeat, no-repeat;
    background-color:#278c2f;
}
.work {
    width: 485px;
    height: 260px;
    margin-left: 567px;
    margin-top: -264px;
    text-align: center;
    box-shadow: 1px 1px 4px #568c27;
    border: 2px solid black; /* tova e samo za da se vidi kyde sedqt sekciite*/
}
.work header{
    display: inline-block;
    width: 485px;
    height: 40px;
    font-size: 1.1rem;
    background-color: #568c27;
}
.work header h1 span  {
    color: #DBC77F;
}
.work-content{
    width: 485px;
    height: 220px;
    position: relative;
    background-image:
    url("../pictures/main/articles/kariera_softuni.jpg"),
    url("../pictures/main/articles/kariera_softun3.jpg");
    background-repeat: no-repeat, no-repeat;
    background-position: 45px 50px,337px 50px;
    background-color:#278c2f;
}
/*aside style*/
.jokes {
    margin: 20px 10px;
    padding: 5px 10px;
    float: right;
    display: inline-block;
    box-sizing: border-box;
    width: 15%;
    height: 600px;
    background-color: #278c2f;
    border: 3px solid white;
    border-radius: 10px;
    overflow: scroll;
}

.jokes a {
    text-decoration: none;
    color: #DBD4BA;
}

.jokes p {
    font-size: 1.3rem;
}

.jokes p::after {
    content: url('../pictures/green-pumpkin-small.jpg');
    display:block;
    margin: 0;
    padding-left: 45%;
    width: 30px;
}

footer {
    height: 100px;
    width: 1280px;
    margin-top: 230px;
    font-size: 1.2rem;
}
footer div h4{
    margin-bottom: 5%;
}
footer div ul li {
    margin-right: 3%;
}
a {
    text-decoration: none;
}
ul {
    list-style-type: none;
}
#footer-content{
    background: #108014;
    width: 1280px;
    height: 100px;
}
#footer-content a{
    display: block;
}
#footer-content a:hover{
    display: block;
    opacity: 0.5;
}
#footer-links{
    display: inline-block;
    height: 100px;
    width: 175px;
    margin: 12px 120px 0px 90px;
    float: left;
    overflow: auto;
}

.useful-links li{
    display:inline-block;
}

#footer-partners {
    display: inline-block;
    height: 100px;
    width: 260px;
    margin: 16px 0 0px 100px;
}
#footer-partners div.nakov-footer{
    display: inline-block;
    margin-top: -15%;
}
#footer-partners div.nakov-footer-sign{
    display: inline-block;
    float: left;
    margin-left: -4%;
}
#footer-copyright{
    display: inline-block;
    height: 100px;
    width: 274px;
    font-size: 0.8rem;
}
.validators{
    margin-bottom: 50px;
    margin-left: 400px;
}
.validators ul li{
    display: inline-block;
    float: right;
}
.copyright{
    margin-left: 213px;
    width: 250px;
}

#navigation ul  li:hover{
    display: block;
}
#navigation ul{
    width:1280px;
    height: 50px;
    background-color:  #278c2f;
    box-shadow: 0px 0px 9px rgba(0,0,0,0.15);
    /*padding: 0 87px 0 90px;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;*/
    position: relative;
    display: inline-table;
    float: right;
    /* margin-top: 0%, za da se vidijda v "menu.html" */
    margin-top: -6px;
}
#navigation ul li{
    display: inline-block;
    float: left;
    text-align: center;
}
#navigation ul li:hover {
    background-color: #27848c;
}

#navigation ul li:hover a {
    color: #FFF;
}

#navigation ul li a {
    display: table-cell;
    /* padding: 15px 48px; */
    width: 200px;
    height: 50px;
    color: #DBD4BA;
    text-decoration: none;
    text-align: center;
    vertical-align: middle;
}
#phone{
    width: 300px;
    position: absolute;
    float: right;
}
.clear-fix {
    zoom:1;}
.clear-fix:after {
    content: "";
    display: block;
    clear: both;
    height: 0; }
