body{
    background-color: #DDFABE;
    font-family: Comic Sans MS;
    margin: 0;
    padding: 0;
    list-style-type: none;
    text-decoration: none;
}
div{
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
}
header{
    height: 20%;
    width: 100%;
    margin-bottom: 0px;
    font-size: 1.2rem;
}
#footer-content{
    background: #91DF33;
    height: 20%;
}
#footer-content div{
    padding: 1%;
}
#footer-content a{
    display: block;
}
#footer-content a:hover{
    display: block;
    opacity: 0.5;
}
#footer-links{
    display:inline-block;
    height: 10%;
    width: 20%;
    float:left;
    overflow: auto;
}
.useful-links li{
    display:inline-block;
}

#footer-partners {
    display:inline-block;
    height: 10%;
    width: 25%;
}
#footer-partners div.nakov-footer{
    display: inline-block;
    margin-top: -15%;
}
#footer-partners div.nakov-footer-sign{
    display: inline-block;
    float: left;
    margin-left: -4%;
}
#footer-copyright{
    display:inline-block;
    height: 10%;
    width: 25%;
    margin-top: 9%;
    float: right;
    font-size: 0.8rem;
}
footer {
    height: 20%;
    width: 100%;
    margin-top: 0px;
    font-size: 1.2rem;
}
footer div h4{
    margin-bottom: 5%;
}
footer div ul li {
    margin-right: 3%;
}
#navigation ul{
    border-top: 3px solid #002168;
    border-bottom: 3px solid #002168;

}
#navigation{
    margin-top: -2px;
}
#navigation ul  li:hover{
    display: block;
}
#navigation ul{
    font-weight: 600;
    font-size: 17px;
    width:100%;
    background-color: #A7FFBF;
    box-shadow: 0px 0px 9px rgba(0,0,0,0.15);
    /*padding: 0 87px 0 90px;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;*/
    position: relative;
    display: inline-table;
    float: right;
    /* margin-top: 0%, za da se vidijda v "menu.html" */
    margin-top: -6px;
}
#navigation ul li{
    margin-left: 4px;
    margin-right: 4px;
    color: #002168;
    background-color: #A7FFBF;
    text-align: center;
    display: inline-block;
    float: left;
    padding-top: 6px;
    padding-bottom: 6px;
}
#navigation ul li:hover{
    background-color: #002168;
    content-color: #A7FFBF;
}
#navigation ul li a {
    display: inline-block;
    margin: 4px;
+   padding: 15px 48px;
    color: #002168;
    text-decoration: none;
}
.useful-habits {
    width: 40%;
    height: 25%;
    -    margin: 10px 10px;
+    margin: 55px 10px;
    text-align: center;
    border: 2px solid black; /* tova e samo za da se vidi kyde sedqt sekciite*/
}
main {
    width: 100%;
    margin-top: -15px;
    height: 1000px;
    font-size: 1.6rem;
}

.main-news {
    width: 100%;
    height: 35%;
    margin-top: 4%;
    text-align: center;
}

.main-news header {
    width: 100%;
    height: 10%;
    font-size: 1.6rem;
}
.main-article{
    width: 100%;
    height: 90%;
    position: relative;
    background-image:
    url("../pictures/main/main_article/nakov-mainpage.jpg"),
    url("../pictures/main/main_article/right_arrow.png"),
    url("../pictures/main/main_article/monstersuniversity.jpg");
    background-repeat: no-repeat, no-repeat;
    background-position: 775px 80px, 500px 90px, 100px 80px, left top;
}
/*aside style*/
.jokes {
    margin: 20px 10px;
    padding: 5px 10px;
    float: right;
    display: inline-block;
    box-sizing: border-box;
    width: 15%;
    height: 600px;
    background-color:   rgba(107,188,15,0.5);
    border: 3px solid white;
    border-radius: 10px;
    overflow: hidden;
}

.jokes a {
    text-decoration: none;
    color: black;
}

.jokes p {
    font-size: 1.3rem;
}

.jokes p::after {
    content: url('../pictures/green-pumpkin-small.jpg');
    display:block;
    margin: 0;
    padding-left: 45%;
    width: 30px;
}

