main {
    width: 94%;
    margin-left: 3%;
    margin-right: 3%;
    margin-top: -10px;
    height: 1000px;
    background-image: url('../pictures/greenWall2.jpg');
    font-family: 'Times New Roman';
    font-size: 1.6rem;
}

main section {
    float: left;
    width: 45%;
    height: 950px;
    margin: 20px 40px;
    text-align: center;
    border: 2px solid black; /* tova e samo za da se vidi kyde sedqt sekciite*/
}

main section header {    
    margin: 10px;
    height: 50px;    
    font-size: 1.6rem;
}

main section header span {
    padding: 0 10px;
    background: rgba(255, 255, 255, .6);
}

.lastNews article {
    padding: 10px;
    display: block;
    height: 200px;
    margin: 30px 20px;    
    overflow: hidden;    
    text-overflow:ellipsis;
    background: rgba(255, 255, 255, .6);
}

.lastNews div img {
    float: left;
    width: 300px;
    height: 200px;
    margin-right: 10px;
}

.lastNews h2 {
    text-align: left;
    font-size: 1.6rem;
}

.lastNews p {
    display:block;
    text-align:left;
    margin-left: 50px;
	padding-left: 10px;
    font-size: 1.3rem;
}