/*color schemes
#E3F026 , #F07A26 , #7DE825 , #73D115
*/

body{
    background-color: #B2FFCC;
    background-attachment: fixed;
    background-size: 240px 240px;
    background-position: center center;
    font-family: AndaleMono;
}
div{
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    /* Maham go, zashtoto mi slaga nqkakva sqnka
    i border vuv vsichki div na footer-a //Alex
    -webkit-box-shadow: 0 2px 2px 0 #C2C2C2;
    box-shadow: 0 2px 2px 0 #C2C2C2;*/
}
body, div, header, section, article, footer, h1, h2, h3, h4, nav, ul, li, p, a, figure, figcaption, img {
    margin: 0;
    padding: 0;
    list-style-type: none;
    text-decoration: none;
}
header{
    height: 20%;
    width: 100%;
    margin-bottom: 0px;
    font-size: 1.2rem;
}
main {
    width: 100%;
    margin-top: -10px;
    height: 1000px;
    background-image: url('../pictures/greenWall2.jpg');
    font-family: 'Times New Roman';
    font-size: 1.6rem;
}
article a:link{
    display: block;
    color: #1F067A;
    font-size: 1.6rem;
}
article a:visited{
    color: #610065;
    font-size: 1.6rem;
}
article a:hover{
    color: #1F067A;
    font-size: 1.6rem;
    background: radial-gradient(ellipse at center,
    rgba(252,242,151,1) 0%,rgba(241,218,54,1) 50%);
}

.main-news {
    width: 100%;
    height: 35%;
    margin-top: 4%;
    text-align: center;
    border: 2px solid black; /* tova e samo za da se vidi kyde sedqt sekciite*/
}

    .main-news header {
        width: 100%;
        height: 10%;
        font-size: 1.6rem;
        background: linear-gradient(to bottom,
        rgba(107,188,15,1) 33%,rgba(18,234,133,1) 70%);
    }
    .main-news header:hover {
        width: 100%;
        height: 10%;
        font-size: 1.6rem;
        background: linear-gradient(to bottom,
        rgba(143,196,0,1) 43%,rgba(0,237,83,1) 99%);
    }

        .main-news header h1 span  {
            color: #911500;
        }
        .main-news header h1 span:hover  {
            color: #7C006E;
        }
        .main-news article h2{
            color: #1F067A;
            font-size: 2.5rem;
        }
        .main-news article h2:hover{
            color: #1F067A;
            font-size: 2.5rem;
            background: radial-gradient(ellipse at center,
            rgba(252,242,151,1) 0%,rgba(241,218,54,1) 50%);
        }

    .main-article{
        width: 100%;
        height: 90%;
        position: relative;
        background-image:
        url("../pictures/main/main_article/nakov-mainpage.jpg"),
        url("../pictures/main/main_article/right_arrow.png"),
        url("../pictures/main/main_article/monstersuniversity.jpg"),
        radial-gradient(ellipse at center,
        rgba(206,219,233,0.3) 0%,rgba(72,196,234,0.3) 0%,
        rgba(71,151,237,0.3) 49%,rgba(61,137,219,0.3) 100%);
        background-repeat: no-repeat, no-repeat;
        background-position: 775px 80px, 500px 90px, 100px 80px, left top;
    }
    .main-article:hover{
        width: 100%;
        height: 90%;
        position: relative;
        background-image:
        url("../pictures/main/main_article/nakov-mainpage.jpg"),
        url("../pictures/main/main_article/right_arrow.png"),
        url("../pictures/main/main_article/monstersuniversity.jpg"),
        radial-gradient(ellipse at center,
        rgba(206,219,233,0.4) 0%,rgba(72,196,234,0.4) 0%,
        rgba(71,151,237,0.4) 49%,rgba(61,137,219,0.4) 100%);
        background-repeat: no-repeat, no-repeat;
        background-position: 775px 80px, 500px 90px, 100px 80px, left top;
    }
.useful-habits {
    width: 40%;
    height: 25%;
    margin: 55px 10px;
    text-align: center;
    border: 2px solid black; /* tova e samo za da se vidi kyde sedqt sekciite*/
}
    .useful-habits header{
        display: inline-block;
        width: 100%;
        height: 10%;
        font-size: 1.1rem;
        background: linear-gradient(to bottom,
        rgba(107,188,15,1) 33%,rgba(18,234,133,1) 70%);
    }
        .useful-habits header h1 span  {
            color: #911500;
        }
        .useful-habits header h1 span:hover  {
            color: #7C006E;
        }
    .useful-habits-content{
        width: 100%;
        height: 85%;
        position: relative;
        background-image:
        url("../pictures/main/articles/teamwork.jpg"),
        url("../pictures/main/articles/useful-habbts.jpg"),
        radial-gradient(ellipse at center,
        rgba(30,87,153,1) 0%,rgba(32,124,202,1) 70%,
        rgba(41,137,216,1) 79%,rgba(32,124,202,1) 88%,
        rgba(32,124,202,1) 93%,rgba(125,185,232,1) 100%);
        background-repeat: no-repeat, no-repeat, no-repeat;
        background-position: 56px 50px, 252px 50px,left top;
    }

.social-skills {
    width: 40%;
    height: 25%;
    margin: -309px 544px;
    text-align: center;
    border: 2px solid black; /* tova e samo za da se vidi kyde sedqt sekciite*/
}
    .social-skills header{
         display: inline-block;
         width: 100%;
         height: 10%;
         font-size: 1.1rem;
         background: linear-gradient(to bottom,
         rgba(107,188,15,1) 33%,rgba(18,234,133,1) 70%);
     }
        .social-skills header h1 span  {
            color: #911500;
        }
        .social-skills header h1 span:hover  {
            color: #7C006E;
        }
        .social-skills-content{
            width: 100%;
            height: 85%;
            position: relative;
            background-image:
            url("../pictures/main/articles/usefulhabbts1.jpg"),
            radial-gradient(ellipse at center,
            rgba(30,87,153,1) 0%,rgba(32,124,202,1) 70%,
            rgba(41,137,216,1) 79%,rgba(32,124,202,1) 88%,
            rgba(32,124,202,1) 93%,rgba(125,185,232,1) 100%);
            background-repeat: no-repeat, no-repeat;
            background-position: 130px 50px,left top;
        }
.accommodation {
    width: 40%;
    height: 25%;
    margin: 340px 10px;
    text-align: center;
    border: 2px solid black; /* tova e samo za da se vidi kyde sedqt sekciite*/
 }
.accommodation header{
    display: inline-block;
    width: 100%;
    height: 10%;
    font-size: 1.1rem;
    background: linear-gradient(to bottom,
    rgba(107,188,15,1) 33%,rgba(18,234,133,1) 70%);
}
.accommodation header h1 span  {
    color: #911500;
}
.accommodation header h1 span:hover  {
    color: #7C006E;
}
.accommodation-content{
    width: 100%;
    height: 85%;
    position: relative;
    background-image:
    url("../pictures/main/articles/accomodation.jpg"),
    url("../pictures/main/articles/accommodation1.jpg"),
    radial-gradient(ellipse at center,
    rgba(30,87,153,1) 0%,rgba(32,124,202,1) 70%,
    rgba(41,137,216,1) 79%,rgba(32,124,202,1) 88%,
    rgba(32,124,202,1) 93%,rgba(125,185,232,1) 100%);
    background-repeat: no-repeat, no-repeat, no-repeat;
    background-position: 22px 50px,221px 50px,left top;
}
.work {
    width: 40%;
    height: 25%;
    margin: -594px 544px;
    text-align: center;
    border: 2px solid black; /* tova e samo za da se vidi kyde sedqt sekciite*/
}
.work header{
    display: inline-block;
    width: 100%;
    height: 10%;
    font-size: 1.1rem;
    background: linear-gradient(to bottom,
    rgba(107,188,15,1) 33%,rgba(18,234,133,1) 70%);
}
.work header h1 span  {
    color: #911500;
}
.work header h1 span:hover  {
    color: #7C006E;
}
.work-content{
    width: 100%;
    height: 85%;
    position: relative;
    background-image:
    url("../pictures/main/articles/kariera_SoftUni.jpg"),
    url("../pictures/main/articles/work.jpg"),
    radial-gradient(ellipse at center,
    rgba(30,87,153,1) 0%,rgba(32,124,202,1) 70%,
    rgba(41,137,216,1) 79%,rgba(32,124,202,1) 88%,
    rgba(32,124,202,1) 93%,rgba(125,185,232,1) 100%);
    background-repeat: no-repeat, no-repeat, no-repeat;
    background-position: 45px 50px,337px 50px,left top;
}
/*aside style*/
.jokes {
    margin: 20px 10px;
    padding: 5px 10px;
    float: right;
    display: inline-block;
    box-sizing: border-box;
    width: 15%;
    height: 600px;
    background-color:   rgba(107,188,15,0.5);  
    border: 3px solid white;
    border-radius: 10px;
    overflow: hidden;
}

    .jokes a {
        text-decoration: none;
        color: black;
    }

    .jokes p {
        font-size: 1.3rem;
    }

    .jokes p::after {
        content: url('../pictures/green-pumpkin-small.jpg');
        display:block;
        margin: 0;
        padding-left: 45%;
        width: 30px;
    }	
	
footer {
    height:10%;
    width: 100%;
    margin-top: 0px;
    font-size: 1.2rem;
}
footer div h4{
    margin-bottom: 5%;
}
footer div ul li {
    margin-right: 3%;
}
a {
    text-decoration: none;
}
ul {
    list-style-type: none;
}
#footer-content{
    background: #73D115;
    height: 20%;
}
#footer-content div{
    padding: 0%;
}
#footer-content a{
    display: block;
}
#footer-content a:hover{
    display: block;
    opacity: 0.5;
}
#footer-links{
    display: inline-block;
    height: 10%;
    width: 20%;
    margin: 5px 120px 0px 95px;
    /* margin-left: 4%; */
    /* margin-right: 12%; */
    /* margin-top: 1%; */
    float: left;
    overflow: auto;
}

.useful-links li{
    display:inline-block;
}
.validators{
    margin: 17px 53px 76px 0px;
}
.validators ul li{
    display: inline-block;
    float: right;
}

#footer-partners {
    display: inline-block;
    height: 10%;
    width: 25%;
    /* margin-right: 13%; */
    /* margin-top: 1%; */
    margin: 15px 74px 3px 85px;
}
#footer-partners div.nakov-footer{
    display: inline-block;
    margin-top: -15%;
}
#footer-partners div.nakov-footer-sign{
    display: inline-block;
    float: left;
    margin-left: -4%;
}
#footer-copyright{
    display: inline-block;
    height: 10%;
    width: 25%;
    margin-top: 5%;
    /* float: right; */
    font-size: 0.8rem;
}

#navigation ul  li:hover{
    display: block;
}
#navigation ul{
    width:100%;
    background-color: #E3F026;
    box-shadow: 0px 0px 9px rgba(0,0,0,0.15);
    /*padding: 0 87px 0 90px;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;*/
    position: relative;
    display: inline-table;
    float: right;
    /* margin-top: 0%, za da se vidijda v "menu.html" */
    margin-top: -6px;
}
#navigation ul li{
    display: inline-block;
    float: left;
    text-align: center;
}
#navigation ul li:hover {
    background-color: #F07A26;
}

#navigation ul li:hover a {
    color: #FFF;
}

#navigation ul li a {
    display: inline-block;
    padding: 15px 48px;
    color: #757575;
    text-decoration: none;
    text-align: center;
}