/*color schemes
#E3F026 , #F07A26 , #7DE825 , #73D115
*/

body{
    background-color: #B2FFCC;
    background-attachment: fixed;
    background-size: 240px 240px;
    background-position: center center;
    font-family: AndaleMono;
}
div{
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    /* Maham go, zashtoto mi slaga nqkakva sqnka
    i border vuv vsichki div na footer-a //Alex
    -webkit-box-shadow: 0 2px 2px 0 #C2C2C2;
    box-shadow: 0 2px 2px 0 #C2C2C2;*/
}
body, div, header, section, article, footer, h1, h2, h3, h4, nav, ul, li, p, a, figure, figcaption, img {
    margin: 0;
    padding: 0;
    list-style-type: none;
    text-decoration: none;
}
header{
    height: 20%;
    width: 100%;
    margin-bottom: 0px;
    font-size: 1.2rem;
}
main {
    width: 100%;
    margin-top: -10px;
    height: 1200px;
    background-image: url('../pictures/greenWall2.jpg');
    font-family: 'Times New Roman';
    font-size: 1.6rem;
}

h1 {
    width: 100%;
    height: 100%;
    margin-top: 4%;
    text-align: center;
    border:solid 2px;

}

main header {
    width: 100%;
    height: 6%;
    font-size: 1.6rem;
    background: linear-gradient(to bottom,
    rgba(107,188,15,1) 33%,rgba(18,234,133,1) 70%);
}



main header h1 span  {
    color: #911500;
}
main header h1 span:hover  {
    color: #7C006E;
}


/*aside style*/
.jokes {
    margin: 20px 10px;
    padding: 5px 10px;
    float: right;
    display: inline-block;
    box-sizing: border-box;
    width: 15%;
    height: 90%;
    background-color:   rgba(107,188,15,0.5);
    border: 3px solid white;
    border-radius: 10px;
    overflow: hidden;
}

.jokes a {
    text-decoration: none;
    color: black;
}

.jokes p {
    font-size: 1.3rem;
}

.jokes p::after {
    content: url('../pictures/green-pumpkin-small.jpg');
    display:block;
    margin: 0;
    padding-left: 45%;
    width: 30px;
}

footer {
    height:20%;
    width: 100%;
    margin-top: 0px;
    font-size: 1.2rem;
}
footer div h4{
    margin-bottom: 5%;
}
footer div ul li {
    margin-right: 3%;
}
a {
    text-decoration: none;
}
ul {
    list-style-type: none;
}
#footer-content{
    background: #73D115;
    height: 20%;
}
#footer-content div{
    padding: 2%;
}
#footer-content a{
    display: block;
}
#footer-content a:hover{
    display: block;
    opacity: 0.5;
}
#footer-links{
    display:inline-block;
    height: 10%;
    width: 20%;
    margin-left: 6%;
    margin-right: 6%;
    margin-top: 3%;
    float:left;
    overflow: auto;
}
.useful-links li{
    display:inline-block;
}

#footer-partners {
    display:inline-block;
    height: 10%;
    width: 25%;
    margin-right: 6%;
    margin-top: 3%;
}
#footer-partners div.nakov-footer{
    display: inline-block;
    margin-top: -15%;
}
#footer-partners div.nakov-footer-sign{
    display: inline-block;
    float: left;
    margin-left: -4%;
}
#footer-copyright{
    display:inline-block;
    height: 10%;
    width: 25%;
    margin-top: 9%;
    float: right;
    font-size: 0.8rem;
}

#navigation ul  li:hover{
    display: block;
}
#navigation ul{
    width:100%;
    background-color: #E3F026;
    box-shadow: 0px 0px 9px rgba(0,0,0,0.15);
    /*padding: 0 87px 0 90px;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;*/
    position: relative;
    display: inline-table;
    float: right;
    /* margin-top: 0%, za da se vidijda v "menu.html" */
    margin-top: -6px;
}
#navigation ul li{
    display: inline-block;
    float: left;
    padding-left: 30px;
}
#navigation ul li:hover {
    background-color: #F07A26;
}

#navigation ul li:hover a {
    color: #FFF;
}
#navigation ul li a {
}
#navigation ul li a {
    display: block;
    padding: 15px 34px;
    color: #757575;
    text-decoration: none;
}
body section article  {
    width:90%;
    height:20%;
    background:blue;
    margin:1% 1%;
    margin-top:10%;
    border-radius:10px 10px 10px 10px;
}
body section article h1 {
border-radius:10px 10px 10px 10px;
}

.section {
    float:right;
    width:40%;
    height:100%;
}
#section div img {
    float:right;
    display: inline-block;

    width:45%;
}

.text-div {
    float:left;
    width:55%;
    height:100%;
    display: inline-block;
    font-size:1.5rem;
}
.pic-div" {
	float:right;
	width:50%;
	height:100%;
	display:inline-block;
}