.education {
    border: 2px solid black;
    border-radius: 10px 10px 10px 10px;
    width: 1024px;
    height: 850px;
    background-color: #278c2f;
    margin: 150px 128px 100px 128px;
    opacity: 0.9;
    font-family: "Comic Sans MS" , "Arial";
    color: #DBD4BA;
    font-size: 18px;

}

h2{
    margin: 0px 0px 0px 40px;
}

.text{
    text-align: left;
    display: block;
    margin: 10px 40px 0px 40px ;
}
.text p span{
    font-weight: bold;
}
.text p code{
    font-weight: bold;
    color: #DBC77F;
}

.img1{
	
    margin:20px 0 0 65px;
	width: 900px;
    height: 350px;
}
.img2{
    width: 250px;
    height: 190px;
    padding: 10px;
    display: block;
    float: right;
}
.img3 {
    width: 180px;
    height: 160px;
    display: inline-block;
    float: left;
    padding-top: 10px;
    padding-right: 10px;
}
.img4{
    width: 160px;
    height: 130px;
    padding: 10px;
    display: inline-block;
    float: right;
}