body{
	background-image:url("../pictures/background.png");     
	background-attachment: fixed;
	background-size: 240px 240px;
	background-position: center center;

	font-family: "Comic Sans MS";
}
body, div, header, section, article, footer, h1, h2, h3, h4, nav, ul, li, p, a, figure, figcaption, img {
    margin: 0;
    padding: 0;
    list-style-type: none;
    text-decoration: none;
}
footer {
	height:200px;
}
a {
	text-decoration: none;
}
ul {
	list-style-type: none;
}
#footer-content{
	background: #EDEDED;
	height: 195px;
}
	#footer-content a{
			display: inline-block;
	}
	#footer-content a:hover{
			display: inline-block;
			opacity: 0.5;
	}
	#footer-links{
		display:inline-block;
		height: 190px;
		background: red;
	}	
		
	#footer-partners {
		display:inline-block;
		height: 190px;
		background: skyblue;
	}	
	#footer-copyright{
		display:inline-block;
		background: yellow;
	}