/*color schemes
#E3F026 , #F07A26 , #7DE825 , #73D115
*/
body{
    background-color: #B2FFCC;
    background-attachment: fixed;
    background-size: 240px 240px;
    background-position: center center;
    font-family: AndaleMono;
}
div{
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    /* Maham go, zashtoto mi slaga nqkakva sqnka
    i border vuv vsichki div na footer-a //Alex
    -webkit-box-shadow: 0 2px 2px 0 #C2C2C2;
    box-shadow: 0 2px 2px 0 #C2C2C2;*/
}
body, div, header, section, article, footer, h1, h2, h3, h4, nav, ul, li, p, a, figure, figcaption, img {
    margin: 0;
    padding: 0;
    list-style-type: none;
    text-decoration: none;
}
header{
    height: 20%;
    width: 94%;
    margin-left: 3%;
    margin-right: 3%;
    margin-bottom: 0px;
    font-size: 1.2rem;
}
footer {
    height:20%;
    width: 94%;
    margin-top: 0px;
    margin-left: 3%;
    margin-right: 3%;
    font-size: 1.2rem;
}
footer div h4{
    margin-bottom: 5%;
}
footer div ul li {
    margin-right: 3%;
}
a {
    text-decoration: none;
}
ul {
    list-style-type: none;
}
#footer-content{
    background: #73D115;
    height: 20%;
}
#footer-content div{
    padding: 2%;
}
#footer-content a{
    display: block;
}
#footer-content a:hover{
    display: block;
    opacity: 0.5;
}
#footer-links{
    display:inline-block;
    height: 10%;
    width: 20%;
    margin-left: 6%;
    margin-right: 6%;
    margin-top: 3%;
    float:left;
    overflow: auto;
}
.useful-links li{
    display:inline-block;
}
#footer-partners {
    display:inline-block;
    height: 10%;
    width: 25%;
    margin-right: 6%;
    margin-top: 3%;
}
#footer-partners div.nakov-footer{
    display: inline-block;
    margin-top: -15%;
}
#footer-partners div.nakov-footer-sign{
    display: inline-block;
    float: left;
    margin-left: -4%;
}
#footer-copyright{
    display:inline-block;
    height: 10%;
    width: 25%;
    margin-top: 9%;
    float: right;
    font-size: 0.8rem;
}
#navigation ul li:hover{
    display: block;
}
#navigation ul{
    width:1030px;
    background-color: #E3F026;
    box-shadow: 0px 0px 9px rgba(0,0,0,0.15);
    padding: 0 87px 0 90px;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    list-style: none;
    position: relative;
    display: inline-table;
    float: right;
    /* margin-top: 0%, za da se vidijda v "menu.html" */
    margin-top: -6px;
    margin-right: 3%;
    margin-left: 3%;
}
#navigation ul li{
    display: inline-block;
    float: left;
}
#navigation ul li:hover {
    background-color: #F07A26;
}
#navigation ul li:hover a {
    color: #FFF;
}
#navigation ul li a {
}
#navigation ul li a {
    display: block;
    padding: 15px 34px;
    color: #757575;
    text-decoration: none;
}