body{
	background-color: #B2FFCC;     
	background-attachment: fixed;
	background-size: 240px 240px;
	background-position: center center;

	font-family: AndaleMono;
}
div{
-moz-border-radius: 4px;
-webkit-border-radius: 4px;
border-radius: 4px;
-webkit-box-shadow: 0 2px 2px 0 #C2C2C2;
box-shadow: 0 2px 2px 0 #C2C2C2;
}
body, div, header, section, article, footer, h1, h2, h3, h4, nav, ul, li, p, a, figure, figcaption, img {
    margin: 0;
    padding: 0;
    list-style-type: none;
    text-decoration: none;
}
footer {
	height:200px;
}
a {
	text-decoration: none;
}
ul {
	list-style-type: none;
}
#footer-content{
	background: #EDEDED;
	height: 195px;
}
	#footer-content div{
		margin: 15px;
		padding: 15px;
	}
	#footer-content a{
			display: block;
	}
	#footer-content a:hover{
			display: block;
			opacity: 0.5;
	}
	#footer-links{
		display:block;
		height: 50px;
		background: red;
		float:left;
		width: 150px;
		overflow: auto;
	}
		.useful-links li{
			display:inline-block;
		}
		
	#footer-partners {
		display:inline-block;
		height: 100px;
		background: skyblue;
		float: center;
	}	
	#footer-copyright{
		display:inline-block;
		background: yellow;
	}
